---
layout: layouts/page
eyebrow: Últimos posts
eleventyNavigation:
    icon: home
    key: Início
    order: 1
---

{% if collections.posts.length > 0 %}
    <ol class="timeline" role="list">
        {% for post in collections.posts | head(10) %}
            <li>
                <article class="entry" tabindex="0">
                    <time class="datetime" datetime="{{ post.date | htmlDateString }}">
                        <span>{{ post.date | readableDate("dd 'de' LLL yyyy") }}</span>
                    </time>

                    <h2 class="title">
                        <a href="{{ post.url }}#main" tabindex="-1">{{ post.data.title }}</a>
                    </h2>
                </article>
            </li>
        {% endfor %}
    </ol>

    <ul role="list" class="page__actions">
        <li><a class="link-more" href="/blog/">Ver arquivo completo</a></li>
    </ul>
{% else %}
    <p>Nenhum post encontrado.</p>
{% endif %}
