*, *::after, *::before { box-sizing: border-box; }
* { margin: 0; }

::view-transition-old(root) {
    animation: fade-out .25s;
}

::view-transition-new(root) {
    animation: fade-in .25s;
}

@keyframes fade-in {
    from { opacity: 0.7; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0.7; }
}

:where(a[href]) {
    color: var(--accent);
}

button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
}

button {
    line-height: 1;
}

svg,
img {
    max-width: 100%;
    display: block;
}

ol[role="list"],
ul[role="list"] {
    padding: 0;
    list-style: none;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
    color-scheme: light dark;

    @media (min-width: 1400px) {
        font-size: 16px;
    }
}

html, body {
    min-height: 100vh;
}

body {
    line-height: 1.65;
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font-family);
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    line-height: 1.15;
    font-weight: 500;
}

